.modal {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  padding: 1rem;
  overflow-y: scroll;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.modal.is-open {
  display: flex;
}
