.modal {
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  
}

.modal-container {
  width: 80%;
  padding: 1rem;
  background-color: #fff;
  border-color: black;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.modal-close {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.modal.is-open {
  display: flex;
}
