.about-container {
  display: flex;
}

.about-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-inline: 10px;
}

.about-texto p {
  text-align: center;
}

.about-texto h2 {
  color: #004225;
  font-size: 2rem;
  font-weight: bold;
}

.about-img {
  object-fit: contain;
  width: 50%;
  border: none;
  border-radius: 5px;
}

.about-texto ul {
  text-align: center;
}
