.alice-carousel {
  background-color: rgb(207, 252, 212);
  padding-top: 20px;
  padding-left: 18px;
}

.img-gallery {
  height: 250px;
  width: 200px;
  max-width: 100%;
  object-fit: contain;
  padding: 1rem;
  border: solid 1px rgb(42, 142, 65);
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: inset 8px 8px 8px rgb(2, 26, 8);
}

.alice-carousel__dots-item {
  padding-bottom: 8px;
  padding-inline: 4px;
}

.alice-carousel__dots {
  padding-bottom: 20px;
}

@media screen and (max-width: 519px) {
  .alice-carousel__stage-item {
    margin-left: 5%;
  }
}
