.alice-carousel {
  padding-top: 20px;
  border-radius: 10px;
}
.alice-carousel__stage-item {
  vertical-align: middle;
  text-align: center;
}
.img-gallery {
  padding-top: 20px;
  height: 250px !important;
  width: 200px;
  max-width: 100%;
  object-fit: contain;
  padding: 1rem;
  border: solid 1px #004225;
  border-radius: 0.5rem;
  background-color: white;
  opacity: 0.9;
  filter: grayscale(0.7);
}
.img-gallery:hover {
  opacity: 1;
  height: 255px;
  filter: grayscale(0);
  box-shadow: 6px 6px 10px #004225;
}
.info-product,
.product-content,
.product-price {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.info-product {
  color: rgb(8, 30, 13);
  font-weight: bolder;
  font-style: oblique;
}

.product-content {
  font-size: 0.9rem;
}

.product-price {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(13, 77, 113);
}

.alice-carousel__dots-item {
  padding-bottom: 6px;
  padding-inline: 3px;
}

.alice-carousel__dots {
  padding-bottom: 20px;
  padding: 5px;
}

@media screen and (max-width: 519px) {
  .alice-carousel__stage-item {
    text-align: center;
  }
  .alice-carousel__dots-item {
    padding-bottom: 4px;
    padding-inline: 2px;
  }
}
